<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>4E18B88A-51AE-4A74-BA36-281494B1A818</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73F90149-5DE0-46A4-8ED0-99CF1FD046E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>73F90149-5DE0-46A4-8ED0-99CF1FD046E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>756B2059-CF44-46EE-A686-5C443AD3E275</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2DECC79-F4FC-4B16-BC00-097064EC0BE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B2DECC79-F4FC-4B16-BC00-097064EC0BE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E38B39D9-A36B-4B13-813C-BBC33C778E96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E99A0EDB-EE14-4A88-9BAB-526394AAA7E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C5C576D-6B6E-4206-B106-660A0D8E0A4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>OutPunk</string>
	<key>description</key>
	<string>Useful workflow for my blog</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Blog</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>source /Users/outpunk/.rvm/scripts/rvm
cd /Users/outpunk/Projects/sites/blog &amp;&amp;
git add . &amp;&amp;
git commit -m '{query}' &amp;&amp;
git push origin master &amp;&amp;
middleman build --clean &amp;&amp; middleman deploy --clean</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B2DECC79-F4FC-4B16-BC00-097064EC0BE3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>blp</string>
				<key>text</key>
				<string>Blog publish</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>The post has been published</string>
				<key>title</key>
				<string>Blog</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E38B39D9-A36B-4B13-813C-BBC33C778E96</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bld</string>
				<key>text</key>
				<string>Blog deploy</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4E18B88A-51AE-4A74-BA36-281494B1A818</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>source /Users/outpunk/.rvm/scripts/rvm
cd /Users/outpunk/Projects/sites/blog
middleman build --clean &amp;&amp; middleman deploy --clean</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>73F90149-5DE0-46A4-8ED0-99CF1FD046E3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>The blog has been updated</string>
				<key>title</key>
				<string>Blog</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>756B2059-CF44-46EE-A686-5C443AD3E275</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bla</string>
				<key>subtext</key>
				<string>Create new post</string>
				<key>text</key>
				<string>Blog article</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E99A0EDB-EE14-4A88-9BAB-526394AAA7E3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>source /Users/outpunk/.rvm/scripts/rvm
cd /Users/outpunk/Projects/sites/blog
open `middleman article test | awk '{print $3}'`
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1C5C576D-6B6E-4206-B106-660A0D8E0A4B</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1C5C576D-6B6E-4206-B106-660A0D8E0A4B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4E18B88A-51AE-4A74-BA36-281494B1A818</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>73F90149-5DE0-46A4-8ED0-99CF1FD046E3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>756B2059-CF44-46EE-A686-5C443AD3E275</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B2DECC79-F4FC-4B16-BC00-097064EC0BE3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E38B39D9-A36B-4B13-813C-BBC33C778E96</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E99A0EDB-EE14-4A88-9BAB-526394AAA7E3</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/OutPunk/alfred-workflows</string>
</dict>
</plist>
